<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ cityName }} ({{ zipcode }})</h3>
            <h4>5-day forecast</h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let forecast of forecastData">
                {{ forecast[0].dt_txt | date:'EEEE, MMM d' }}:
                {{ forecast[0].weather[0].main }}
                - Min: {{ forecast[0].main.temp_min }}°F
                - Max: {{ forecast[0].main.temp_max }}°F
                <img class="icon" [src]="getWeatherIconUrl(forecast[0].weather[0].main)">
            </li>
        </ul>
    </div>
    <button class="btn btn-success" tabindex="0" (click)="goBack()">Back to main page</button>
</div>
